extends layout

block content
	div.col-12
		div.alert.alert-danger(v-if="error") {{error_message}} 
		.form-group 
			label Hourly Rate? 
			input.form-control(type="number", v-model="hourly_rate")
		.form-group 
			label Category:
			select.form-control(type="text", v-model="single_item.category")
				option(v-for="category in categories") {{category}}
		.form-group 
			label Description:
			input.form-control(type="text", v-model="single_item.name")
		.form-group 
			div.col-md-6.mb-3
				label Low Hours 
				input.form-control(type="number", v-model="single_item.low_hours" required)
			div.col-md-6.mb-3
				label High Hours 
				input.form-control(type="number", v-model="single_item.high_hours", required , v-on:keydown.tab="addItem()")
		.form-group 
			btn.btn.btn-primary(v-on:click="addItem()") Submit 
		
		div.quote-container(v-if="results.length > 0")
			h3 Line Items 
			div.line-item(v-for="(item, key) in results", v-on:mouseover="mouseOver(item)", @mouseleave="mouseLeave(item)")
					div Description: {{item.name}}
					div Category: {{item.category}}
					div Low Hours : {{item.low_hours}} High Hours : {{item.high_hours}}
					div(v-if="item.active")
						btn.btn.btn-primary(v-on:click="editItem(key)") Edit 
						btn.btn.btn-danger(v-on:click="deleteItem(key)") Delete 
						
			h3 Totals 
			div.calculated_categories
				div(v-for="(item2, key2) in calculatedCategories")
					div {{key2}}: 
					div.hours Low Hours: {{item2.low_hours}}  Mid Hours: {{item2.mid_hours}} High Hours: {{item2.high_hours}} Pecentage of Total : {{item2.precentage_of_total | toPercent}}
			div Low Hours: {{ calculateLowHours }} Mid Hours: {{ calculateMidHours }} High Hours: {{ calculateHighHours }} 
			
			div Cost: {{calculateCost | toUSD}}