extends layout

block content
	div.col-12
		div.alert.alert-danger(v-if="error") {{error_message}} 
		.form-group 
			label Hourly Rate? 
			input.form-control(type="number", v-model="hourly_rate ")
		.form-group 
			label Description:
			input.form-control(type="text", v-model="single_item.name")
		.form-group 
			div.col-md-4.mb-3
				label Category:
				select.form-control(type="text", v-model="single_item.category")
					option(v-for="category in categories") {{category}}
			div.col-md-4.mb-3
				label Low Hours 
				input.form-control(type="number", v-model="single_item.low_hours" required)
			div.col-md-4.mb-3
				label High Hours 
				input.form-control(type="number", v-model="single_item.high_hours", required , v-on:keydown.tab="addItem()")
		.form-group
			label Associated Monthly: 
			div.form-check.form-check-inline
				input.form-check-input(type="checkbox", v-model="single_item.has_monthly", true-value="1", false-value="0")
				label.form-check-label Yes
		.form-group(v-if="single_item.has_monthly == 1")
			label Monthly:
			input.form-control(type="number", v-model="single_item.monthly")
			
		.form-group 
			btn.btn.btn-primary(v-on:click="addItem()") Submit 
		
		div.quote-container(v-if="results.length > 0")
			h3 Line Items 
			div.card(v-for="(item, key) in results", v-on:mouseover="mouseOver(item)", @mouseleave="mouseLeave(item)")
				div.card-body
					h5.card-title Description: {{item.name}}
					p.card-text Category: {{item.category}}
					p.card-text Low Hours : {{item.low_hours}} High Hours : {{item.high_hours}}
					p.card-text(v-if="item.has_monthly == 1") Monthly: {{item.monthly | toUSD}}
					div(v-if="item.active")
						btn.btn.btn-primary(v-on:click="editItem(key)") Edit 
						btn.btn.btn-danger(v-on:click="deleteItem(key)") Delete 
						
			h3 Totals 
			div.card
				div.card-body
					h5.card-title Overview
					p.card-text Low Hours: {{ calculateLowHours }} Mid Hours: {{ calculateMidHours }} High Hours: {{ calculateHighHours }}
					p.card-text(v-if="calculateIfMonthlyApplies") Monthly Cost: {{calculateMonthlyCosts | toUSD}}
					p.card-text Cost: {{calculateCost | toUSD}}

					h5.card-title Breakdown
					div.calculated_categories.card-text
						div(v-for="(item2, key2) in calculatedCategories")
							div {{key2}}: 
							div.hours Low Hours: {{item2.low_hours}}  Mid Hours: {{item2.mid_hours}} High Hours: {{item2.high_hours}} Pecentage of Total : {{item2.precentage_of_total | toPercent}}
							div.hours(v-if="item2.monthly > 0") Monthly : {{item2.monthly | toUSD}}
					
			div
				btn.btn.btn-primary(v-on:click="createPDF()") Create PDF  